<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan
            base-package="pl.atins.misie.sos"/>
    <context:annotation-config/>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
        <property name="url" value="jdbc:hsqldb:file:./data/sos;shutdown=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <tx:annotation-driven />
    <bean id="entityManagerFactoryBean"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="pl.atins.misie.sos.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/>
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryBean"/>
    </bean>

    <bean id="addressDao" class="pl.atins.misie.sos.dao.impl.AddressDaoImpl" />
    <bean id="departmentDao" class="pl.atins.misie.sos.dao.impl.DepartmentDaoImpl" />
    <bean id="gradeDao" class="pl.atins.misie.sos.dao.impl.GradeDaoImpl"/>
    <bean id="lendingDao" class="pl.atins.misie.sos.dao.impl.LendingDaoImpl"/>
    <bean id="libraryItemDao" class="pl.atins.misie.sos.dao.impl.LibraryItemDaoImpl"/>
    <bean id="paymentDao" class="pl.atins.misie.sos.dao.impl.PaymentDaoImpl" />
    <bean id="reservationDao" class="pl.atins.misie.sos.dao.impl.ReservationDaoImpl"/>
    <bean id="roleDao" class="pl.atins.misie.sos.dao.impl.RoleDaoImpl" />
    <bean id="studentSubjectDao" class="pl.atins.misie.sos.dao.impl.StudentSubjectDaoImpl" />
    <bean id="subjectDao" class="pl.atins.misie.sos.dao.impl.SubjectDaoImpl" />
    <bean id="universityClassDao" class="pl.atins.misie.sos.dao.impl.UniversityClassDaoImpl" />
    <bean id="userDao" class="pl.atins.misie.sos.dao.impl.UserDaoImpl" />
</beans>
